@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

html {
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  font-family: 'Anuphan', sans-serif;
}

.logo{
  max-height: 90px;  
}

.search-bar{
    max-width: 20rem !important;
}

.secondary-nav{
  font-size: smaller;
}

.login-bottom-text{
  font-size: .9rem;
}

.login-form-width{
  width: 100%;
}

@media (min-width: 768px){
  .login-form-width{
    width: 40%;
  }
}

.register-form-width{
  width: 100%;
}

@media (min-width: 768px){
  .register-form-width{
    width: 60%;
  }
}

.form-shadow{
  box-shadow: 1px 1px 15px #0000007c;
}

.view-height{
  height: 100% !important;
}

@media (min-width: 768px){
  .view-height{
    height: 100vh !important;
  }
}
